.backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.container {
  width: 500px;
  background-color: hsl(0, 0, 90%);
  padding: 1rem;
  margin-top: 1rem;

  h1 {
    font-size: 1.4rem;
  }
}
